@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
header {
    padding: 3rem 0rem;
    h1 {
        font-size: 3.3rem;
    }
    p {
        font-size: 18px;
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
    }
}